/* variable declaration */

:root {
  --primary: #fea116;
  --light: #f1f8ff;
  --dark: #0f172b;
  --margin: 0;
  --padding: 0;
  --box-sizing: border-box;
  --font-family: "Pacifico", cursive;
}

/* General styles  */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background-color: var(--dark);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--dark);
  margin-top: 1em;
  font-size: 1.5em;
}

.resto {
  background-color: var(--dark);
  color: var(--primary);
  text-align: left;
}

nav ul {
  display: inline flex;
  color: var(--light);
}

nav ul li {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

nav ul li:hover {
  color: var(--primary);
  cursor: pointer;
}

.table {
  width: 10em;
  height: 4em;
  display: inline-block;
  margin-left: 2rem;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0.5em;
}

.table:hover {
  cursor: pointer;
}

.bk-sec {
  display: flex;
  width: 250px;
  height: 200px;
  background-color: var(--dark);
}

.bk-container {
  position: absolute;
  display: flex;
}

.bk-left {
  color: var(--light);
  background-color: var(--dark);
}

.bk-h2 {
  margin: 3em 0 0 1.4em;
  padding: 0.2em;
  line-height: 1.5em;
  font-size: 3.5em;
}

.bk-p {
  font-size: 1.1em;
  margin: 0 0 0 5em;
  padding: 0.2em;
}

.bk-tb {
  width: 8em;
  height: 2.8em;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0.5em;
  margin: 1em 0 0 4.5em;
  border: var(--light);
  font-size: 1.2em;
  cursor: pointer;
}

.bk-right {
  background-color: var(--dark);
  margin: 4.1em 2em 1em;
}

.bk-right .rotate-img {
  width: 40em;
  animation: rotate 70s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.services {
  position: absolute;
  background-color: var(--light);
  margin: 40em auto;
  width: 100%;
  box-sizing: border-box;
}

.services-cart {
  margin: 5em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 5rem 0;
}

.carts {
  border: 0.1em solid var(--primary);
  width: 20em;
  height: 15em;
  outline: none;
  box-shadow: 10px 5px 5px var(--primary);
  cursor: pointer;
}

.fa {
  color: var(--dark);
  margin: 0.5em;
}

.carts:hover {
  background-color: var(--primary);
  color: var(--light);
}

.fa:hover {
  color: var(--light);
}

.headings {
  margin: 0.2em 0 0 1.5em;
}

.p-text {
  margin: 0.5em 0 0 1.5em;
  font-size: 1.1em;
}

.abt {
  position: relative;
  margin: 70em auto;
  background-color: var(--light);
}

.abt .abt-us-container {
  width: 100%;
  height: 100%;
}

.abt .abt-us-container .abt-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.abt .abt-us-container .abt-us .abt-imgs {
  width: 60%;
  padding: 1.1em;
}

.abt-imgs-1-2 {
  display: flex;
  gap: 1em;
  transform: scale(0.8);
}

.abt-imgs-1-2 .pic-abt-1 {
  width: 25em;
  height: 25em;
}

.abt-imgs-1-2 .pic-abt-2 {
  width: 16em;
  height: 16em;
  margin-top: 9em;
}

.abt-imgs-3-4 {
  display: flex;
  gap: 1em;
  transform: scale(1.1);
}

.abt-imgs-3-4 .pic-abt-3 {
  width: 14em;
  height: 14em;
  margin-left: 11em;
}

.abt-imgs-3-4 .pic-abt-4 {
  width: 18em;
  height: 18em;
  margin-bottom: 4em;
}

.abt-texts {
  width: 55%;
  height: 100%;
}

.abt-texts .abt-heading {
  color: var(--primary);
}

.abt-texts .abt-heading .hr {
  color: var(--primary);
  width: 2em;
}

.abt-texts .welcome-resto {
  font-size: 2em;
}

.abt-texts .p-text-1 {
  line-height: 1.5em;
  font-size: 1.1em;
}

.p-text-2 {
  margin-top: 1em;
}

.abt-texts .p-text-2 {
  line-height: 1.5em;
  font-size: 1.1em;
}

.exp {
  margin: 1em 0 2em;
  display: inline-flex;
}

.vl {
  border-left: 6px solid var(--primary);
  height: 50px;
}

.exp .your-15 {
  width: 20em;
  height: 8em;
  display: inline-flex;
}

.exp .your-15 .abt-num-1 {
  font-size: 1em;
}

.five-one {
  color: var(--primary);
  font-size: 2.5em;
  margin-left: 0.3em;
}

.exp .popular-50 {
  width: 20em;
  height: 0.5em;
  display: inline-flex;
}

.exp .popular-50 .abt-num-2 {
  font-size: 1em;
}

.five-zero {
  color: var(--primary);
  font-size: 2.5em;
  margin-left: 0.5em;
}

.abt-btn {
  outline: none;
  margin-top: -5em;
}

.abt-btn-read {
  width: 10em;
  height: 4em;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 0.5em;
  cursor: pointer;
  border: 0;
}

.food-menu {
  position: relative;
  background-color: var(--light);
  margin-top: -70em;
  max-width: 100%;
  max-height: 100%;
}

.hr-text {
  border: 0;
  line-height: 1em;
  position: relative;
  text-align: center;
  height: 1.5em;
  font-size: 2em;
  margin: 0.5em;
}

.hr-text::before {
  content: "";
  background: linear-gradient(to right, transparent, #fea116, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text::after {
  content: attr(data-content);
  position: relative;
  padding: 0 0.2em;
  line-height: 1.5em;
  color: var(--primary);
  background-color: var(--light);
}

.most-p-items {
  text-align: center;
  align-items: center;
  justify-self: center;
  justify-content: center;
  font-size: 2em;
}

.food-menu .food-menu-men .popular-items {
  display: inline-flex;
  box-sizing: border-box;
}

.pop-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
}

.pop-items .mini-list {
  list-style-type: none;
  margin: auto;
  max-width: 80vw;
}

.pop-items .mini-list .deals {
  color: var(--dark);
  display: inline-flex;
  list-style: none;
}

.deals .fa-coffee {
  color: #fea116;
  font-size: 1.2em;
}

.deals .fa-hamburger {
  color: #fea116;
  font-size: 1.2em;
}

.deals .fa-utensils {
  color: #fea116;
  font-size: 1.2em;
}

.menu-items {
  margin: 5em auto 5em 5em;
  width: 100%;
}

.menu-items .chicken-burger {
  display: flex;
  flex-flow: row wrap;
}

.chicken-img-1 {
  height: auto;
  width: auto;
}

.chicken-img-1 .chicken-img-1-1 {
  width: auto;
  height: 8em;
}

.line-1 {
  width: 15em;
}

.details {
  width: fit-content;
  height: fit-content;
  justify-content: left;
  margin: 1.1em 0 0 1.1em;
  font-size: 1.2em;
}

.chicken-burger-1 {
  color: var(--dark);
  font-size: 1.2em;
}

.price-1 {
  color: var(--primary);
  font-weight: bold;
  margin: -2em 0 0 13.2em;
}
