/* variable declaration */

:root {
  --primary: #fea116;
  --light: #f1f8ff;
  --dark: #0f172b;
  --margin: 0;
  --padding: 0;
  --box-sizing: border-box;
  --font-family: "Pacifico", cursive;
}

/* General styles  */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  overflow-x: hidden;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: var(--px-10);
  background-color: var(--dark);
  margin-bottom: 100px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 35px;
  height: 35px;
  margin-top: 10px;
}

.resto {
  background-color: var(--dark);
  color: var(--primary);
}

nav ul {
  list-style: none;
  display: inline flex;
  gap: var(--px-20);
  color: var(--light);
}

nav ul li {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

nav ul li a {
  display: flex;
  justify-content: space-evenly;
  gap: 300px;
  text-decoration: none;
  font-size: 16px;
  background-color: var(--dark);
}

.table {
  width: 100px;
  height: 30px;
  display: inline-block;
  margin-left: 2rem;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 5px;
}

.bk-sec {
  display: flex;
  margin: 200px 50px 50px;
  width: auto;
  height: auto;
}

.bk-container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
}

.bk-left {
  background: url("../public/Hero/bg-hero.jpg");
  background-color: var(--dark);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--dark);
}

.bk-tb {
  width: 100px;
  height: 30px;
  display: inline-block;
  color: var(--light);
  background-color: var(--primary);
  border-radius: 5px;
}
